@import "../../assets/scss/theme.scss";

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	.app-name {
		font-size: 15rem;
		line-height: 0.8;
		height: max-content;
		transform: rotate(90deg);
		@include theme() {
			color: getColor($field);
		}
		&:nth-child(5) {
			line-height: 0.2;
		}
	}
	.login-button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		outline: none;
		border: none;
		background-color: transparent;
		padding: 0.3rem;
		@include theme() {
			color: getColor($primary);
			svg {
				path {
					fill: getColor($primary);
				}
			}
		}
	}
}
