$light-background: #e9e9e9;
$black: #000000;
$blackish-grey: #353535;
$white: #ffffff;
$grey: #dfdfdf;
$secondary-text: #adaebc;
$blueish: #b9cdd4;
$dark-blueish: #286074;
$failure: #f80000;
$success: #00aa06;
