@import "../../../assets/scss/theme";

footer.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 2.5rem;
	padding: 0 0 0 1rem;
	@include theme() {
		background-color: getColor($secondary);
	}
	.total {
		font-size: 1.2rem;
		@include theme() {
			.amount {
				color: getColor($success);
			}
			.amount.less {
				color: getColor($failure);
			}
		}
	}
	.add-expense {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 2.5rem;
		cursor: pointer;
		@include theme() {
			background-color: getColor($ternary);
		}
	}
}
