@import "../../../assets/scss/theme";

.dropdown {
	position: relative;
	display: inline-block;
	width: 12rem;
	.dropdown-header {
		width: 100%;
		padding: 10px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.2rem;
		@include theme() {
			border-bottom: 1px solid getColor($primary);
		}
		input.input-field {
			border: none !important;
			width: 100%;
			font-size: 1em;
			padding: 0;
		}
		span {
			width: 100%;
		}
	}
	.dropdown-header.disabled {
		border-bottom: none;
	}
	.dropdown-list {
		position: absolute;
		width: 100%;
		z-index: 1;
		.dropdown-option {
			padding: 10px;
			cursor: pointer;
			@include theme() {
				background-color: getColor($background);
				border-bottom: 1px solid getColor($primary);
			}
		}
		.dropdown-option.right {
			text-align: right;
		}
	}
}
