@import "../../../assets/scss/theme";

.section {
	padding: 1rem;
	border-radius: 0.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.amount {
		font-weight: 600;
		font-family: "Montserrat";
	}
	@include theme() {
		background-color: getColor($secondary);
		.amount {
			color: getColor($success);
		}
		.amount.less {
			color: getColor($failure);
		}
	}
}
